upstream containerservers {
	server  ${PROXY_HOST_1}:${PROXY_PORT_1};
	server  ${PROXY_HOST_2}:${PROXY_PORT_2};
	server  ${PROXY_HOST_3}:${PROXY_PORT_3};
}
server {    
    listen       ${NGINX_PORT};
    server_name  localhost;
location / {
        proxy_pass http://containerservers;
    }	